<h2><%= t "admin.book.create_book" %></h2>
<%= form_for @book, url: admin_books_path, html: {multipart: true} do |f| %>
  <%= render partial: "shared/error_messages", locals: {object: @book} %>

  <%= f.label :category %>
  <%= f.select :category_id , @categories.collect{|c| [c.name, c.id]} %>    

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>

  <%= f.label :author_name %>
  <%= f.text_field :author_name, class: "form-control" %>

  <%= f.label :pages %>
  <%= f.number_field :pages, class: "form-control" %>

  <%= f.label :publish_date %>
  <%= f.date_field :publish_date, class: "form-control" %>

  <%= f.label :cover %>
  <%= f.file_field :cover, accept: "image/jpeg,image/gif,image/png" %>

  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>

  <%= f.submit t("admin.book.create_book"), class: "btn btn-primary" %>
<% end %>
