<div class="row">
  <div class="book-details">
    <div class="col-sm-3">
      <div class="view-book">
        <%= image_tag @book.cover.url if @book.cover? %>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="book-information">
        <h3><%= @book.title %></h3>
        <p>
          <%= t "admin.book.show_author" %>
          <%= @book.author_name %>
        </p>
        <p>
          <b><%= t "admin.book.publishdate" %></b>
          <%= @book.publish_date %>
        </p>
        <p>
          <b><%= t "admin.book.pages" %></b>
          <%= @book.pages %>
        </p>
        <p>
          <b><%= t "admin.book.show_category" %></b>
          <%= @book.category.name %>
        </p>
        <p>
          <b><%= t "admin.book.description" %></b>
          <%= @book.description %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="text-center">
      <%= render "like_form" if logged_in? %>
    </div>
  </div>
  <div class="col-sm-9">
    <div>
      <%= link_to t("review.add_review"), new_book_review_path(@book),
        class: "btn btn-info" %>
    </div>
    <div id="view-reivews">
      <%= render partial: "reviews/review",
        collection: @support.reviews, as: :review %>
    </div>
  </div>
</div>
